#uno{
    border: 1px solid black;
    background-color: rgb(244, 103, 9);
 
}

#dos button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #333;
}

#icono {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: whitesmoke;

}
#dos{
    background-color: white;
}


#desa {
    background-image: linear-gradient(to bottom, #589669, #035412);
    color: whitesmoke;
    text-align: left;
color: #fff;
padding: 10px;

}
#letra{

    color: black;
}
